@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 100%;
        --font_size_title: 32px;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 20px;
    }


    .accordion_item .head
    {
        padding: 28px 80px 28px 28px;
    }


    .accordion_item .head .icon
    {
        right: 28px;
    }


    .accordion_item .data
    {
        padding: 0 80px 28px 28px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 24px;
    }


    .all_link a
    {
        font-size: var(--font_size);

        padding: 12px 30px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 28px;
    }


    .tabs .btn
    {
        font-size: 20px;
    }

    .tabs .btn + .btn
    {
        margin-left: auto;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 310px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }

    header.show
    {
        transform: translateX(0);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 20px 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        overscroll-behavior-y: contain;
    }

    header .scroll > *
    {
        width: 100%;
    }


    header .data
    {
        margin-top: 40px;
        padding: 0;

        order: 2;
    }


    header .logo,
    header .cart_link
    {
        display: none;
    }


    header .contacts
    {
        width: 100%;
    }

    header .contacts + .contacts
    {
        margin-top: 20px;
    }


    header .messengers
    {
        min-height: 0;
        margin-top: 20px;
    }


    header .bottom.absolute
    {
        position: relative;
        top: 0;

        margin: 0;
    }

    header .bottom .row
    {
        padding: 0;
    }


    header .catalog
    {
        width: 100%;
        margin: 0;

        order: 2;
    }


    header .catalog .btn
    {
        position: relative;
        z-index: 3;

        width: 100%;
    }


    header .catalog .mini_modal,
    header .catalog .mini_modal.active
    {
        position: relative;
        z-index: 0;
        top: 0;
        left: 0;

        display: none;
        visibility: visible;

        width: calc(100% + 16px);
        margin: -60px -8px 0;
        padding: 68px 8px 8px;

        pointer-events: auto;

        opacity: 1;
        border-radius: 33px;
    }

    header .catalog .mini_modal.active
    {
        display: block;
    }

    header .catalog .mini_modal:before
    {
        display: none;
    }


    header .catalog .mini_modal a
    {
        font-size: 15px;
        line-height: 19px;

        padding: 12px 8px;
    }

    header .catalog .mini_modal > *:first-child > a
    {
        padding-top: 12px;
    }

    header .catalog .mini_modal > *:last-child > a
    {
        padding-bottom: 12px;
    }


    header .catalog .mini_modal .sub
    {
        display: none;
    }


    header .menu
    {
        display: block;

        width: 100%;
        margin: 24px 0 0;

        order: 3;
    }

    header .menu > * + *
    {
        margin-top: 16px;
        margin-left: 0;
    }

    header .menu .sep
    {
        display: none;
    }


    header .search
    {
        width: 100%;
        margin: 0 0 12px;

        order: 1;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*------------
        Filter
    ------------*/
    .filter .mob_btn
    {
        display: block;
    }


    .filter .form
    {
        display: none;

        margin-bottom: 24px;
        padding: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
    }


    .breadcrumbs .sep
    {
        width: 12px;
        margin: 0 8px;
    }


    .page_title
    {
        font-size: var(--font_size_title);
        line-height: 110%;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .title:before
    {
        transform: scale(.8);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3
    {
        width: calc(50% - var(--form_columns_offset));
    }

    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .field.row .input
    {
        width: calc(50% - 8px);
    }


    .form .submit
    {
        margin-top: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h3
    {
        font-size: 20px;
    }


    .text_block * + h2
    {
        margin-top: 60px;
    }


    .text_block img.left
    {
        width: 360px;
        max-width: calc(50% - 24px);
        margin-right: 24px;
    }

    .text_block img.right
    {
        width: 360px;
        max-width: calc(50% - 24px);
        margin-left: 24px;
    }


    .text_block .bg
    {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 40px;
    }


    .text_block .table_wrap
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 0 24px;
    }


    .text_block table
    {
        width: 1200px;
    }

    .text_block table th,
    .text_block table td
    {
        padding: 16px 20px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        margin-bottom: 60px;
    }


    .main_slider .cont,
    .main_slider.inner .cont
    {
        min-height: 388px;
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .main_slider .swiper-button-next,
    .main_slider .swiper-button-prev
    {
        display: none;
    }


    .main_slider .data
    {
        width: 400px;
        margin-left: 0;
    }


    .main_slider .title
    {
        font-size: 40px;
    }


    .main_slider.inner .title
    {
        width: 100%;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .grid
    {
        grid-gap: 16px;
    }


    .categories .item .thumb
    {
        height: 196px;
    }


    .categories .item .name
    {
        font-size: 18px;

        bottom: 24px;
        left: 24px;

        width: 140px;
    }


    .categories .item.big_h .thumb
    {
        height: 408px;
    }



    /*---------------------
        Categories list
    ---------------------*/
    .categories_list
    {
        margin-bottom: 60px;
    }


    .categories_list .category .thumb
    {
        width: 240px;
        height: 280px;
        padding: 20px;
    }


    .categories_list .category .data
    {
        width: calc(100% - 264px);
    }


    .categories_list .category .name
    {
        font-size: 28px;
    }


    .categories_list .category .for
    {
        font-size: 14px;
        line-height: 20px;

        width: 100%;
        margin-top: 20px;
    }

    .categories_list .category .for > *:before
    {
        top: 4px;
    }


    .categories_list .category .desc
    {
        width: 100%;
        margin-top: 20px;
    }


    .categories_list .category .prices,
    .categories_list .category .link
    {
        width: calc(100% + 264px);
        margin-left: -264px;
    }


    .categories_list .category .link a
    {
        font-size: var(--font_size);

        padding: 14px 30px;
    }


    .categories_list .category:nth-child(2n) .prices,
    .categories_list .category:nth-child(2n) .link
    {
        margin-right: -264px;
        margin-left: 0;
    }



    /*--------------
        Products
    --------------*/
    .products .product .thumb
    {
        height: 268px;
    }



    /*------------
        Schema
    ------------*/
    .schema
    {
        padding-top: 60px;
    }


    .schema .row
    {
        margin-left: -24px;
    }

    .schema .row > *
    {
        width: calc(33.333% - 24px);
        margin-left: 24px;
    }


    .schema .item
    {
        font-size: 15px;
        line-height: 21px;
    }


    .schema .item .number
    {
        font-size: 88px;
    }


    .schema .item .name
    {
        font-size: 20px;

        margin-top: 20px;
    }


    .schema .bg
    {
        width: 520px;
        height: 501px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .info
    {
        width: 100%;
    }


    .action_block .block_head
    {
        margin-bottom: 40px;
    }


    .action_block .call
    {
        font-size: 18px;
    }

    .action_block .call .phone
    {
        font-size: 22px;
    }


    .action_block .form
    {
        width: 100%;
        margin-top: 40px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        margin-bottom: 40px;
    }


    .product_info .images
    {
        width: 100%;
        margin-bottom: 24px;
    }


    .product_info .data
    {
        width: 100%;
        padding-left: 120px;
    }


    .product_info .buy
    {
        width: calc(100% - 120px);
        margin-top: 12px;
        margin-left: 120px;
    }


    .product_info .buy .price
    {
        width: calc(100% - 224px);
        margin: 0;
    }


    .product_info .buy .price .label
    {
        font-size: 16px;
        line-height: 100%;
    }


    .product_info .buy .price .val
    {
        left: 100%;
    }

    .product_info .buy .price .old
    {
        font-size: 18px;

        left: 100%;

        margin-top: 8px;
    }


    .product_info .buy .price.total
    {
        width: calc(100% - 224px);
        margin-top: 16px;
    }


    .product_info .buy .amount
    {
        width: 200px;
        margin-bottom: 9px;
        margin-left: auto;
    }


    .product_info .buy_btn
    {
        font-size: 18px;

        width: 200px;
        margin-top: 16px;
        margin-left: auto;
    }


    .product_info .quike_buy_btn
    {
        font-size: 16px;

        width: 200px;
        margin-top: 12px;
        margin-left: auto;
    }



    /*------------------
        Product tabs
    ------------------*/
    .product_tabs
    {
        margin-bottom: 60px;
    }


    .product_tabs .data
    {
        padding: 24px;
    }



    .product_tabs .description .for > *
    {
        padding-left: 28px;
    }

    .product_tabs .description .for > * + *
    {
        margin-top: 4px;
    }


    .product_tabs .description .text_block
    {
        font-size: 14px;
        line-height: 20px;

        width: calc(100% - 260px);
        padding-right: 0;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info
    {
        margin-bottom: 60px;
    }


    .cart_info .product > * + *
    {
        margin-left: 20px;
    }


    .cart_info .product .thumb
    {
        width: 120px;
        height: 140px;
    }


    .cart_info .product .info
    {
        width: calc(100% - 541px);
    }


    .cart_info .product .name
    {
        line-height: 100%;
    }


    .cart_info .product .price
    {
        width: 100px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info
    {
        margin-bottom: 60px;
    }


    .checkout_info .section + .section
    {
        margin-top: 60px;
    }


    .checkout_info .form .columns
    {
        --form_columns_offset: 16px;
    }


    .checkout_info .form .line
    {
        margin-bottom: 16px;
    }


    .checkout_info .payment_methods > .row,
    .checkout_info .delivery_methods > .row
    {
        margin-bottom: -16px;
        margin-left: -16px;
    }

    .checkout_info .payment_methods > .row > *,
    .checkout_info .delivery_methods > .row > *
    {
        width: calc(50% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .checkout_info .payment_methods .info,
    .checkout_info .delivery_methods .info
    {
        padding: 28px 24px 28px 52px;
    }


    .checkout_info .payment_methods .check,
    .checkout_info .delivery_methods .check
    {
        top: 24px;
    }


    .checkout_info .payment_methods .info .desc,
    .checkout_info .delivery_methods .info .desc,
    .checkout_info .payment_methods .info .exp,
    .checkout_info .delivery_methods .info .exp
    {
        font-size: 12px;

        margin-top: 16px;
    }


    .checkout_info .agree
    {
        margin-left: 28px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 20px 0;
    }


    .advantages .row
    {
        margin-left: -24px;
    }

    .advantages .row > *
    {
        width: calc(20% - 24px);
        margin-left: 24px;
    }


    .advantages .item
    {
        font-size: var(--font_size);
        line-height: 22px;
    }


    .advantages .item .icon
    {
        width: 72px;
        height: 72px;
        margin-bottom: 12px;
        padding: 14px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        margin-bottom: 60px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 60px;
    }


    .articles .list > * + *
    {
        margin-top: 60px;
    }


    .articles .article .data
    {
        width: 100%;

        order: 2;
    }


    .articles .article .thumb
    {
        width: 100%;
        height: 360px;
        margin-bottom: 20px;
    }


    .articles .article .name
    {
        font-size: 20px;
    }



    /*---------
        FAQ
    ----------*/
    .faq
    {
        margin-bottom: 60px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding-top: 20px;
    }


    .contacts_info .data
    {
        padding: 28px 28px 8px;
    }

    .contacts_info .data > *
    {
        margin-bottom: 20px;
    }


    .contacts_info .phone
    {
        font-size: 18px;
        line-height: 22px;
    }


    .contacts_info .map
    {
        height: 400px;
    }



    /*------------
        Footer
    ------------*/
    footer .copyright
    {
        margin-top: 24px;
    }


    footer .menu,
    footer .links
    {
        display: none;
    }



    /*-----------
        PopUp
    -----------*/
    #feedback_modal
    {
        width: 860px;
        padding: 68px 48px 48px;
    }
}
